.errorMessage {
  color: red;
}

body,
.root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.pageRoot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  overflow: auto;
  min-height: 20em;
}
