.downloads {
  display: grid;
  border-bottom: 1px solid black;
  border-left: 1px solid black;

  grid-template-columns: 24px;
}

.downloads > div {
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 2px;
}

.headder {
  font-weight: bold;
}
